
<div class="row order">
    <div class="one-half column">
        <h3>My Shopping Cart</h3>
    </div>
    <div class="one-half column" placeholder="0">
        <h3>Order Total: {{ view.cart | totalPrice | currency }}</h3>
    </div>
</div>

<div class="row shopping-cart">
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Sub-total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="oneProduct" ng-repeat="item in view.cart">
            <td>
                <h3>{{ item.name }}</h3>
                <figure>
                    <img ng-src="{{ item.imageUrl }}">
                </figure>
                <p>Caffeine Scale: {{ item.caffeineScale }}</p>
                <p>Ingredients: {{ item.ingredients }}</p>
                <p>Rating: {{ item.rating }}</p>
            </td>
            <td ng-hide="editing">
                {{ item.quantity }}
            </td>
            <td ng-show="editing">
                    <input type="number" min="1" ng-model="item.quantity">
            </td>
            <td>
               {{ item.price * item.quantity * .01 | currency }}
            </td>
            <td>
                <button ng-click="editing = true" ng-hide="editing">Edit</button>
                <button ng-show="editing" ng-click="editing = false">Save</button>
                <button ng-click="removeFromCart(item)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
