[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

header{
    background-image: url("http://images.agoramedia.com/everydayhealth/gcms/6-best-teas-for-arthritis-symptoms-722x406.jpg?width=623");
    background-size: cover;
    height:120px;
    background-position: 0px -200px;
}

header > h1 {
    padding-left: 10%;
    color: #704A19;
}

.navbar-list {
    list-style-type: none;
}

.navbar-item {
    display: inline-block;
    padding: 0% 10px;

}

.navbar-item a {
    text-decoration: none;
    color: #A43E17;
}

.search-bar {
    display: inline-block;
}

.shopping-cart, .products, .search, .order {
    color: #704A19;
}

table {
    margin: 5%;
}

.order {
    text-align: center;
    padding-top: 5%;
}

.search {
    padding-top: 5%;
}