[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

header{
    background-image: url("http://images.agoramedia.com/everydayhealth/gcms/6-best-teas-for-arthritis-symptoms-722x406.jpg?width=623");
    background-size: cover;
    height:120px;
}

header > h1 {
    padding-left: 10%;
    color: #52527a;
}